{% extends 'layout.html' %}
{% block content%}
<div class="container">
    <div class="row">
        <div  class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Dar de alta rol</h2>
            <div class="card">
                <div class="card-body">
                    <form action="/crearRol/" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <p>Tipo de rol:</p>
                            <input type="text" id="tiporolInput" name="tiporolInput" class="form-control"
                                placeholder="Tipo de rol" required> <br>                
                        <div class="form-group">
                            <br>
                            <button type="submit" class="btn btn-primary btn-block text-white ">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h1>Lista de Roles</h1>
            <div class="row">
                <div class="col-2 mt-2 table-responsive-lg">
                    <table class="table py-2  ">
                        <thead class="bg-info">
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Tipo de rol</th>
                                <th scope="col">eliminar</th>
                                <th scope="col">editar</th>                          
                            </tr>
                        </thead>
                        <tbody>
                            {% for rol in roles %}
                            <tr>
                                <th scope="row">{{rol.id}}</th>
                                
                                <td>{{rol.tiporol}}</td>                                                            
                                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">Eliminar </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Advertencia
                                                        eliminar
                                                    </h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    ¿Está seguro de elminar el registro?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>

                                                    <a type="button" href="{% url 'eliminarRol' rol.id %}"><i
                                                            class="fa-solid fa-file-pen"></i> Eliminar </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="{% url 'editarRol' rol.id %}">
                                        <i class="fa-solid fa-file-pen"></i> editar </a> </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}